<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <title>POSVATOR</title>
  </head>
  <body>
    <div class="wrap">
      <div class="number-display">
        <div class="number">
          <div class="char-grid">
            <div class="row" id="row-0">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-1">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-2">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-3">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-4">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-5">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-6">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-7">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-8">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
            <div class="row" id="row-9">
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb-on"></div>
              <div class="bulb-on"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
              <div class="bulb"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="video-news">
          <div class="video">
              <img id="imageElement" src="/video_feed">
            </div>
          <div class="news">
              
              
              
          </div>
        </div>
      </div>
    </div>

    <div class="nav" id="userInput">
      <div class="button-panel">
        <button type="button" class="btn-num" id="btn-1" value="1">1</button>
        <button type="button" class="btn-num" id="btn-2" value="2">2</button>
        <button type="button" class="btn-num" id="btn-3" value="3">3</button>
        <button type="button" class="btn-num" id="btn-4" value="4">4</button>
        <button type="button" class="btn-num" id="btn-5" value="5">5</button>
        <button type="button" class="btn-num" id="btn-6" value="6">6</button>
        <button type="button" class="btn-num" id="btn-7" value="7">7</button>
        <button type="button" class="btn-num" id="btn-8" value="8">8</button>
        <button type="button" class="btn-num" id="btn-9" value="9">9</button>
        <button type="button" class="btn-num" id="btn-10" value="10">10</button>
        <button type="button" class="btn-num" id="btn-11" value="11">11</button>
        <button type="button" class="btn-num" id="btn-12" value="12">12</button>
        <button type="button" class="btn-num" id="btn-13" value="13">13</button>
        <button type="button" class="btn-num" id="btn-14" value="14">14</button>
        <button type="button" class="btn-num" id="btn-15" value="15">15</button>
        <button type="button" class="btn-num" id="btn-16" value="16">16</button>
        <button type="button" class="btn-num" id="btn-17" value="17">17</button>
        <button type="button" class="btn-num" id="btn-18" value="18">18</button>
        <button type="button" class="btn-num" id="btn-19" value="19">19</button>
        <button type="button" class="btn-num" id="btn-20" value="20">20</button>
        <button type="button" class="btn-num" id="btn-21" value="21">21</button>
        <button type="button" class="btn-num" id="btn-22" value="22">22</button>
        <button type="button" class="btn-num" id="btn-23" value="23">23</button>
        <button type="button" class="btn-num" id="btn-24" value="24">24</button>
        <button type="button" class="btn-num" id="btn-25" value="25">25</button>
        <button type="button" class="btn-num" id="btn-26" value="26">26</button>
        <button type="button" class="btn-num" id="btn-27" value="27">27</button>
        <button type="button" class="btn-num" id="btn-28" value="28">28</button>
        <button type="button" class="btn-num" id="btn-29" value="29">29</button>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
                console.log('connected');
      });
      var is_working = false;
      
      function speak(text) {
            if (typeof SpeechSynthesisUtterance === "undefined" || typeof window.speechSynthesis === "undefined") {
                alert("이 브라우저는 음성 합성을 지원하지 않습니다.")
                return
            }
            
            window.speechSynthesis.cancel() // 현재 읽고있다면 초기화

            const speechMsg = new SpeechSynthesisUtterance()
            speechMsg.rate = 1 // 속도: 0.1 ~ 10      
            speechMsg.pitch = 1.2 // 음높이: 0 ~ 2
            speechMsg.lang = "ko-KR"
            speechMsg.text = text
            
            // SpeechSynthesisUtterance에 저장된 내용을 바탕으로 음성합성 실행
            window.speechSynthesis.speak(speechMsg)        
      }
      
      socket.on('message', function(data) {
          setTimeout(function() {
              if(!is_working) {
                  is_working = true
                  speak(data['user'] + "님 안녕하세요. " + `${data['floor']}` + "층으로 이동하겠습니다.")
                  input_value = document.getElementById("userInput")
                  setTimeout(function() {
                      input_value.click()
                  }, 1000);
                  is_working = false
                  
                  var news = document.getElementsByClassName("news")
                  for(var i=0; i<data['title'].length; i++) {
                     var newdiv = document.createElement('div');
                     newdiv.id = `title_${i+1}`
                     newdiv.innerHTML = data['title'][i+1]
                     news[0].appendChild(newdiv)
                      
                     var newdiv2 = document.createElement('div');
                     newdiv2.id = `content_${i+1}`
                     newdiv2.innerHTML = data['content'][i+1]
                     news[0].appendChild(newdiv2)
                  }
                  countToFloor(floor_value, data['floor'])
                  
                  speak("몇번 기사를 읽어드릴까요?")
                  
                  var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
                  recognition.lang = 'ko-KR';
                  recognition.interimResults = false;
                  recognition.maxAlternatives = 5;
                  recognition.start();
                  recognition.onresult = function(event) { 
                      var result = event.results[0][0].transcript
                      console.log(result)
                      for(var i=1; i <= data['content'].length; i++) {
                          if(result === `${i}번`) {
                              speak(data['content'][i-1])
                              break
                          }
                      }
                  };
                  
                  speak("기사들을 메일로 보내드릴까요?");
                  
                  recognition.start();
                  recognition.onresult = function(event) { 
                      var result = event.results[0][0].transcript
                      if(result === "응") {
                          socket.emit('email', {'user' : data['user'], 'title':data['title'], 'content':data['content']});
                      }
                  };
              }
          }, 1000)
          document.getElementsByClassName("news").innerHTML = ""
          console.log(data);
           
      });
      socket.on('from_flask', function (data) {
          alert('hi')
          console.log(data.image);
          $("#imageElement").attr("src","data:image/jpeg;base64,"+ data.image);
      });
      socket.on('news', function (data) {
          console.log(data);
      });

   </script>
</html>
